/* CABEÇALHO */

a {
    color: var(--branco);
    text-decoration: none;

}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction: row;  */
    /* por padrão o flex vem na direção row/linha */

    /* alinha no sentido do flex */
    justify-content: space-between;

    /* alinha no sentindo contrário do flex */
    align-items: center;

    padding: 0 120px;

    height: 10vh; /* 10% da visualização vertical do dispositivo/navegador */

}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;

    /* 1rem -> equivale a 16px (padrão da raiz do HTML */
    /* em -> pega o tamanho da tipografia do elemento pai */
    font-size: 1em;
    font-weight: 500;
}

/* CONTEÚDO PRINCIPAL */

/* Primeiro Banner */

.banner-principal {
    color: var(--branco);
    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;
    /* background-repeat: no-repeat; */

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 120px;
}

.texto-banner {
    height: 100px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 50%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
}

.botao:hover {
    background-color: #155C58;
    color: var(--branco);
}