/*  CABEÇALHO */

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /* POR PADRÃO O FLEX VEM NA DIREÇÃO ROW/LINHA, então não precisa do flex direction */

    /* alinha n sentido do flex */
    justify-content: space-between;

    /* alinha no sentido contrário do flex */
    align-items: center;

    padding: 0 120px;

    height: 10vh;
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;

    /* 1rem -> equivale a 16px (padrão da raiz do HTML) */
    /* 1em -> pega o tamanho da tipografia do elemento pai */
    font-size: 1em;
    font-weight: 500;

}

/* CONTEÚDO PRINCIPAL */


/* Primeiro banner */

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;
    /* background-repeat: no-repeat; */

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* TÍTULO DAS SEÇÕES */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seçãõ beneficios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /* em cima -> direita e esquerda -> embaixo*/

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* x -> y -> blur(desfoque) -> cor com transparência */

    text-align: center;

    /* Cria referência de posicionamento para o ícone, quando o icone for posicionado, usa esse card como referência */
    /* sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o elemento para cima, e o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* Ajustamos o posicionamento do elemnto, mas a borda esquerda do círculo fica no centro, não o círculo inteiro*/
    transform: translateX(-50%);

    display: grid;

    /* place-items: center; é a mesma coisa que colocar: 
       align-items: center; e justify-items: center; */
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* Banner meio */

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);

}

.livros-recomendados {
    padding: 50px 120px;
    margin-bottom: 120px;
}

.livros {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 50px;
}

.recomendado h3 {
    height: 30px;
    width: 200px;
    font-size: 1.5em;
    margin-bottom: 40px;
    text-align: center;
}


.titulo-secao span {
    margin-bottom: 30px;
}

.recomendado img {
    width: 100%;
    height: 400px;

    padding: 20px;
    margin-bottom: 0px;

}

.recomendado h4 {
    display: flex;
    justify-content: center;
}

.recomendado {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.rodape {
    background-color: var(--azul-escuro);
    padding: 110px 120px 100px;
}

.logos {
    display: grid;
    flex-direction: column;
    gap: 70px;

}

.rodape p {
    color: var(--branco);
    padding: 0px 130px;
}

.biblioteca h4,
.quemsomos h4 {
    margin-bottom: 25px;
}

.rodape p {
    margin-bottom: 10px;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.textos {
    display: grid;
    gap: 75px;
}

.redes-sociais {
    margin-bottom: 50px;
    align-items: center;
    margin-right: 35px;
    display: flex;
    justify-content: space-between;
}

.logos-redes {
    display: flex;
    margin: 5px;
    gap: 40px;
}

.biblioteca h4 {
    color: var(--cor-destaque);
    transform: translateX(130px);
}

.quemsomos h4 {
    color: var(--cor-destaque);
    transform: translateX(130px);
}

.redes-sociais h4 {
    color: var(--cor-destaque);
    transform: translateX(130px);
}


.logos span {
    background-color: var(--branco);
    height: 1px;
    width: 150px;
}

.linha {
    background-color: var(--branco);
    height: 1px;
    margin-top: 10px;
}

.bibliotec {
    display: flex;
    align-items: center;
    padding: 25px 3px;
}

.arroba p {
    margin-left: -130px;
}

.links {
    display: flex;
    align-items: center;
    gap: 130px;
    margin-left: auto;
}

.links p {
    width: auto;
    margin: 0;
    padding: 0;
}   